extends layout

block layout-content
  div.View
    h1.Banner WHATABYTE
    div.Message
      div.Title
        h3 UserLogin
        h1 Hello there!
      span.Details Log in and go nuts
    div.NavButtons
      a(href="/user")
          div.NavButton Login